.one-row {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.noselect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
